pipeline/PL_CopyTodaysFile.json
{
	"name": "PL_CopyTodaysFile",
	"properties": {
		"activities": [
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "V_InputFileName",
					"value": {
						"value": "@concat('canada_',formatDateTime(utcnow(),'yyyyMMdd'),'.txt')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "BlobDynamicSource",
						"type": "DatasetReference",
						"parameters": {
							"P_FileName": {
								"value": "@variables('V_InputFileName')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "BlobDest",
						"type": "DatasetReference"
					}
				]
			}
		],
		"variables": {
			"V_InputFileName": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF 1.0"
		},
		"annotations": [],
		"lastPublishTime": "2024-04-04T17:58:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}