pipeline/Pl_IfActivity.json
{
	"name": "Pl_IfActivity",
	"properties": {
		"activities": [
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(mod(variables('Number'),2),0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set variable3",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Message",
								"value": "OddNumber"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Set variable2",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "Message",
								"value": "EvenNumber"
							}
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Number",
					"value": 12
				}
			}
		],
		"variables": {
			"Number": {
				"type": "Integer"
			},
			"Message": {
				"type": "String"
			}
		},
		"annotations": []
	}
}